<div class="container">
<div style="margin-top: 2%;"></div>

<div class="col-md-8">
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">User Name</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{currentUser.username}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Email</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{currentUser.email}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Roles</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{currentUser.roles}}
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>

</div>s