<div *ngIf="!loading">
    <div class="jumbotron container-md">
        <h1>
            <p>{{ 'Welcome To Online Weather Forecasting Application'}}</p>
        </h1>
    </div>



    <div class="com">
        <div class="row">
            <span class="p-float-label" style="margin-left: 2%; margin-bottom: 2%;">

                <input pInputText id="location" [(ngModel)]="selectedCity" placeholder="Search location by name" />
                <label htmlFor="location">Location Name</label>
            </span>
            <span style="margin-left: 2%;"> <p-button (click)="submitLocationName($event)" label="Search"
                    styleClass="p-button-secondary"></p-button></span>

        </div>
        <div class="row" *ngIf="cityList.length>0">
    
            <p-table #dt1 [value]="cityList" dataKey="id" [rows]="10" 
                (onRowSelect)="onLocationTableRowSelect($event)" selectionMode="single"
                [(selection)]="selectedLocation"
                [rowsPerPageOptions]="[10]" [loading]="loading" [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [globalFilterFields]="['country', 'name', 'timezone', 'latitude', 'longitude',  'country_code', 'feature_code']"
                [style]="{'border': '1px solid gray'}"
                >
                <ng-template pTemplate="caption">
                    <div class="flex">
                       <h3> Geo Location Table</h3>
                    </div>
                    </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                      
                        <th > 
                            <div class="flex align-items-center">
                                Name 
                                <p-columnFilter type="text" field="name" matchMode="contains"></p-columnFilter>
                            </div>
                        </th>
                        <th > 
                            <div class="flex align-items-center">
                                Country
                                <p-columnFilter type="text" field="country" matchMode="contains"></p-columnFilter>
                            </div>
                        </th>

                        <th> 
                            <div class="flex align-items-center">
                                Timezone
                                <p-columnFilter type="text" field="timezone" matchMode="contains"></p-columnFilter>
                            </div>
                        </th>

                        <th> 
                            <div class="flex align-items-center">
                                Latitude
                                <p-columnFilter type="text" field="latitude" matchMode="contains"></p-columnFilter>
                            </div>
                        </th>
                        <th> 
                            <div class="flex align-items-center">
                                Longitude
                                <p-columnFilter type="text" field="longitude" matchMode="contains"></p-columnFilter>
                            </div>
                        </th>
                        <th> 
                            <div class="flex align-items-center">
                                Country Code
                                <p-columnFilter type="text" field="country_code" matchMode="contains"></p-columnFilter>
                            </div>
                        </th>
                        <th> 
                            <div class="flex align-items-center">
                                Feature Code
                                <p-columnFilter type="text" field="feature_code" matchMode="contains"></p-columnFilter>
                            </div>
                        </th>
                        <th> 

                                Action
                                
                        </th>

                    </tr>
                </ng-template>

                <!-- ******************* main data body ************************* -->
                <ng-template pTemplate="body" let-location let-index="rowIndex">
                    <tr [pSelectableRow]="location" [pSelectableRowIndex]="index">
                      
                   
                        <td>
                            {{ location.name }}
                        </td>
                        <td>
                            {{ location.country }}
                        </td>
                
                        <td>
                            {{ location.timezone }}
                        </td>
                   
                        <td>
                            {{ location.latitude }}
                        </td>
                
                        <td>
                            {{ location.longitude }}
                        </td>
                 
                        <td>
                            {{ location.country_code }}
                        </td>
                   
                        <td>
                            {{ location.feature_code }}
                        </td>
                        <td>
                            <p-button (click)="actionClick(location)"  icon="pi pi-star" 
                            styleClass="p-button-rounded p-button-warning p-button-outlined" 
                             pTooltip="Save as your favourite location"></p-button>
      
                        </td>
                    </tr>
                    
                </ng-template>


                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No records found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>


<app-loading-spinner *ngIf="loading"></app-loading-spinner>


